.text-large-black {
  font-size: 1.8rem;
}

.text-large-white {
  font-size: 1.8rem;
  color: white;
}

.text-medium-black {
  font-size: 1.5rem;
}

.text-medium-white {
  font-size: 1.5rem;
  color: white;
}

.text-small-black {
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.text-small-white {
  font-size: 1.3rem;
  margin-bottom: 0px;
  color: white;
}
