.footer {
  background: #212121;
  padding: 2rem 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    color: var(--main);
  }
  .byDinamic {
    margin-top: 5rem;
    p {
      font-size: 1.3rem;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    img {
      width: 16rem;
      margin-bottom: 2rem;
    }

    .contactBox {
      display: flex;
      align-items: center;

      a {
        &:hover {
          p {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      p {
        margin-left: 2rem;
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
}
