.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  input {
    border: 1px solid #6b6b6b;
    padding: 1rem;
    border-radius: 5px;
  }
}

.inputRequired {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  label {
    font-size: 1.4rem;
    margin-bottom: 1rem;

    &:after {
      color: red;
      content: " *";
    }
  }

  input {
    border: 1px solid #6b6b6b;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
  }
}
